<%- include('./common/head.ejs') %>

    <div class="container mt-5 p-3 border rounded" style="width: 600px;">
        <h2 class="mx-auto mb-3" style="width: 500px;">Error Occured!!!</h2>
        <div class="mx-auto" style="width: 500px;">
            <a href="/login">Login Page</a>
            <a href="/signup" class="ml-4">Signup Page</a>
        </div>
    </div>
    <%- include('./common/tail.ejs') %>